/** Size System  **/
$size: 5;

/** Default Colors */
$white: #FFF;
$lightGrey: #F4f4f4;
$grey: #CCC;
$darkGrey: #333;
$black: #000;

/** Site Colors */
$color-1: #031E3F;
$color-2: #E8A700;
$color-3: #F2F2F2;
$color-4: #F9F9F9;
$color-5: #FCFCFC;
$color-6: #636363;
$color-7: #2ABF66;
$color-8: #CBCBCB;
$color-9: #717171;
$color-10: #EE4E1C;
$color-11: #EF8D00;
$color-12: #DCDCDC;
$color-13: #E6E6E6;

/** Gradients **/
$gradient-1: transparent linear-gradient(85deg, #F28200 0%, #DFC400 100%) 0% 0% no-repeat padding-box;
$gradient-2: transparent linear-gradient(-85deg, #F28200 0%, #DFC400 100%) 0% 0% no-repeat padding-box;
$border-gradient: linear-gradient(85deg, #F28200 0%, #DFC400 100%);

@keyframes gradientAnimation {
  0% {
    background-position: 0% 9%
  }
  50% {
    background-position: 100% 92%
  }
  100% {
    background-position: 0% 9%
  }
}

/** Theme Colors */
$theme-colors: () !default;
$theme-colors: map_merge((
    'white': $white,
    'light-grey': $lightGrey,
    'grey': $grey,
    'dark-grey': $darkGrey,
    'black': $black,
    'color-1': $color-1,
    'color-2': $color-2,
    'color-3': $color-3,
    'color-4': $color-4,
    'color-5': $color-5,
    'color-6': $color-6,
    'color-7': $color-7,
    'color-8': $color-8,
    'color-9': $color-9,
    'color-10': $color-10,
    'color-11': $color-11,
    'color-12': $color-12,
    'color-13': $color-13,
), $theme-colors);

/** Fonts */
$font-1: 'Montserrat', sans-serif;
$font-2: 'Assistant', sans-serif;

$fonts: () !default;
$fonts: map_merge((
    'montserrat': $font-1,
    'assistant': $font-2
), $fonts);

$weights: () !default;
$weights: map_merge((
  'thin': '100',
  'extra-light': '200',
  'light': '300',
  'regular': '400',
  'medium': '500',
  'semi-bold': '600',
  'bold': '700',
  'extra-bold': '800',
  'black': '900',
), $weights);

/** Directions */
$directions: () !default;
$directions: map_merge((
        't': top,
        'r': right,
        'b': bottom,
        'l': left,
), $directions);