.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.separator {
  width: 57px;
  height: 5px;
  margin: 15px 0;
  background: $gradient-1;
  border-radius: 5px;
}

.separator-pipe {
  content: '|';
  display: block;
  margin: 0 15px;
}

.separator-vertical {
  content: '';
  height: 80px;
  width: 1px;
  border-right: 1px solid $color-9;
}

.separator-full {
  width: 100%;
  position: relative;
  border: 1px solid $lightGrey;
  margin: 25px auto 40px;

  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 50%;
    width: 57px;
    height: 5px;
    margin-left: -27px;
    background: $gradient-1;
    border-radius: 5px;
  }
}

/*** Text ***/
.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-color-gradient {
  background: $gradient-1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*** Imputs ***/
.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: $font-1;
  color: $darkGrey;
  background-color: $white;
  border: 1px solid $color-8;
  border-radius: 5px;
}

/*** Buttons ***/
.btn {
  height: 35px;
  //min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  line-height: 1px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  background: transparent;

  &:hover {
    text-decoration: none;
  }
}

.btn-lg {
  height: 60px !important;
}

.btn-gradient {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: $color-1;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px #00000029;
  background: $gradient-1;

  &:hover {
    background: $gradient-2;
  }
}

.btn-dark-blue {
  background: $color-1 url('../img/bg-breadcrumb.png') center left 0px no-repeat padding-box;
  background-size: 1150%;
  transition: all .5s ease;

  &:hover {
    background-size: 175%;
    //background-size: 400%;
  }
}

.btn-color-1 {
  background-color: $color-1;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
}

/*** Icons ***/
.icon-inline {
  display: flex;
  align-items: center;

  &:last-of-type {
    margin-right: 0;
  }
}

.icon-play-circle {
  &:before {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    background: url('../img/icon-play-circle.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-arrow-right {
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    background: url('../img/icon-metro-arrow-right.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-videocam {
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    background: url('../img/icon-videocam.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-bed {
  &:before {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    background: url('../img/icon-bed.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-bed-gradient {
  &:before {
    content: '';
    height: 35px;
    width: 30px;
    display:block;
    background: url('../img/icon-bed-gradient.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-bath {
  &:before {
    content: '';
    height: 20px;
    width: 18px;
    display: block;
    background: url('../img/icon-bath.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-area {
  &:before {
    content: '';
    height: 15px;
    width: 15px;
    display:block;
    background: url('../img/icon-pencil-ruler.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 10px 5px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-house {
  &:before {
    content: '';
    height: 16px;
    width: 16px;
    display:block;
    background: url('../img/icon-home.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-income-project {
  &:before {
    content: '';
    height: 16px;
    width: 21px;
    display:block;
    background: url('../img/icon-trending-up.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-income-project-gradient {
  &:before {
    content: '';
    height: 16px;
    width: 21px;
    display: block;
    background: url('../img/icon-trending-up-gradient.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-financing-mono {
  &:before {
    content: '';
    height: 16px;
    width: 9px;
    display:block;
    background: url('../img/icon-attach-money-mono.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-financing-color {
  &:before {
    content: '';
    height: 16px;
    width: 9px;
    display:block;
    background: url('../img/icon-attach-money-color.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 10px 8px;
    background-color: $white;
    border-radius: 50%;
  }
}

.icon-financing-gradient {
  &:before {
    content: '';
    height: 16px;
    width: 9px;
    display:block;
    background: url('../img/icon-attach-money-gradient.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-floor-plan {
  &:before {
    content: '';
    height: 16px;
    width: 17px;
    display:block;
    background: url('../img/icon-ruler.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

    &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-overview {
  &:before {
    content: '';
    height: 16px;
    width: 14px;
    display:block;
    background: url('../img/icon-file-text.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

    &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-contact-us {
  &:before {
    content: '';
    height: 16px;
    width: 21px;
    display:block;
    background: url('../img/icon-message.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 7px 4px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-phone-gradient {
  &:before {
    content: '';
    height: 28px;
    width: 20px;
    display: block;
    background: url('../img/icon-phone-alt.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-map {
  &:before {
    content: '';
    height: 18px;
    width: 12px;
    display:block;
    background: url('../img/icon-map.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }

  &.bg-icon {
    content: '';
    height: 35px;
    width: 35px;
    padding: 8px 6px;
    background-color: $color-4;
    border-radius: 50%;
  }
}

.icon-map-marked-gradient {
  &:before {
    content: '';
    height: 35px;
    width: 30px;
    display:block;
    background: url('../img/icon-map-marked.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-home-gradient {
  &:before {
    content: '';
    height: 35px;
    width: 30px;
    display:block;
    background: url('../img/icon-home-gradient.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

.icon-place-gradient {
  &:before {
    content: '';
    height: 30px;
    width: 21px;
    display:block;
    background: url('../img/icon-place-gradient.svg') center no-repeat scroll;
    background-size: contain;
    margin: 0 5px;
  }
}

/*** Badges ***/
.badge {
  height: 38px;
  width: auto;
  min-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px 30px 5px 44px;
  border-radius: 20px;
  font: normal normal bold 13px/22px Montserrat;

  &.badge-active {
    width: 125px;
    background-color: $color-7;
    color: $white;

    &:before {
      content: url('../img/icon-check-mono.svg');
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }

  &.badge-increase {
    width: 170px;
    background: $white;
    color: $color-10;

    &:before {
      content: url('../img/icon-increase.svg');
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }

  &.badge-new {
    width: 170px;
    background: $white;
    color: $color-11;

    &:before {
      content: url('../img/icon-star.svg');
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }

  &.badge-decrease {
    width: 180px;
    background: $white;
    color: $color-7;

    &:before {
      content: url('../img/icon-decrease.svg');
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }
}

/*** Cards ***/
.card {
  background-color: $white;
  box-shadow: 0px 5px 5px #00000014;
  border-radius: 10px;

  .card-header {
    height: 95px;
    position: relative;
    padding: 20px 35px;
    background-color: $white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 2px #0000000F;
  }

  .card-body {
    position: relative;
    padding: 20px 35px;
    background-color: $color-5;
    box-shadow: 0px 5px 5px #00000014;
  }

  .card-footer {
    height: 95px;
    position: relative;
    padding: 20px 35px;
    background-color: $white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px -2px 2px #0000000F;
  }
}

/*** Tables ***/
table {
  width: 100%;
  display: table;
  text-indent: initial;
  font-family: $font-1;
  line-height: 31px;
  border: 1px solid $color-12;
  border-spacing: 0 ;
  border-collapse: separate;
  background-color: $white;

  th {
    color: $color-1;
  }

  tr {
    padding: 15px 0 15px 30px ;
    box-sizing: border-box;
    border-top: 1px solid $color-12;

    &:last-of-type {
      border: none;
    }
  }

  th, td {
    padding: 0 0 0 30px;
    box-sizing: border-box;
    border-right: 1px solid $color-12;

    &:last-of-type {
      border: none;
    }
  }

  .main {
    font: normal normal bold 16px/42px $font-1;
    padding: 0 0 15px 30px;
  }
}

.table-no-border {
  tr, th, td {
    border: none !important;
  }
}

.no-border {
  border: none !important;
}

.border-top {
  border-top: 1px solid $color-12 !important;
}

.no-border-top {
  border-top: none !important;
}

.border-bottom {
  border-bottom: 1px solid $color-12 !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.table-responsive {
  overflow-x: auto;
}

.table-radius {
  border-radius: 10px;
}