html {
    scroll-behavior: smooth;
}

section#top {
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: $color-3;
    border: 1px solid $white;
    box-shadow: 0 2px 2px #0000000D;

    .main-nav-items {
        display: flex;
        align-items: center;

        li {
            height: 30px;
            padding: 0 16px;
            line-height: 30px;
            border-right: 1px solid $white;

            &:first-child {
                padding-left: 0;
            }

            a.main-nav-link {
                text-decoration: none;
                font: normal normal bold 13px/16px $font-1;
                color: $color-1;
            }
        }
    }

    .nav-lang {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            margin-left: 13px;
        }
    }
}

section#header {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $color-4;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .icon {
        height: 28px;
    }

    .logo {
        height: 147px;
        width: 297px;
        margin: auto;
    }
}

section#breadcrumbs {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    background: $color-1 url('../img/bg-breadcrumb.png') center right 0px no-repeat padding-box;

    &:after {
        content: '';
        height: 15px;
        width: 344px;
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -172px;
        z-index: 1;
        background-color: $color-4;
        border-radius: 0 0 15px 15px;
    }

    .breadcrumb-item {
        display: inline-flex;
        align-items: center;

        &:first-of-type {
            &:before {
                content: url("../img/icon-arrow-right.svg");
                margin: 5px 15px 0 0;
            }

            &:after {
                content: "|";
                font-weight: normal;
                margin: 0 15px 3px 15px;
            }
        }
    }

    .share-item {
        display: flex;

        &:after {
            content: "|";
            margin: 0 15px 3px 15px;
        }

        &:first-of-type {
            margin-left: 0;

            &:after {
                display: none;
            }
        }

        &:last-of-type {
            margin-right: 0;

            &:after {
                display: none;
            }
        }
    }
}

section#featured {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('../img/bg-featured.png') center no-repeat scroll;
    background-size: cover;
    text-align: center;

    &:after {
        content: '';
        height: 15px;
        width: 344px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -172px;
        z-index: 1;
        background-color: $white;
        border-radius: 15px 15px 0 0;
    }
}

section#form-info {
    padding: 60px 20px;

    label {
        cursor: pointer;
        margin-left: 5px;
        margin-right: 25px;
        color: $darkGrey;
    }

    input[type="text"],
    input[type="email"] {
        margin-bottom: 15px;
    }

    input[type="checkbox"] {
        width: 15px;
        cursor: pointer;
    }

    textarea {
        min-width: 100%;
    }
}

section#nav {
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 58px;
    z-index: 9999;
    padding: 0 20px;
    background: $color-1;
    box-shadow: 0px 5px 5px #00000038;

    .secondary-nav-items {
        display: flex;
        align-items: center;

        .secondary-nav-item {
            height: 70px;
            display: flex;
            align-items: center;
            position: relative;
            padding: 5px 20px;
            cursor: pointer;
            min-width: fit-content;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                color: rgba(255, 255, 255, .65);
                text-decoration: none;

                &:after {
                    content: url('../img/icon-arrow-down.svg');
                    margin-left: 8px;
                    opacity: .65;
                }
            }

            &.active {
                &:after {
                    content: '';
                    height: 5px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 5px;
                    background: $gradient-1;
                }

                a {
                    color: rgba(255, 255, 255, 1);

                    &:after {
                        opacity: 1;
                    }

                    &.icon-house {
                        &:before {
                            background: url('../img/icon-home-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }

                    &.icon-income-project {
                        &:before {
                            background: url('../img/icon-trending-up-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }

                    &.icon-financing {
                        &:before {
                            background: url('../img/icon-attach-money-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }

                    &.icon-floor-plan {
                        &:before {
                            background: url('../img/icon-ruler-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }

                    &.icon-overview {
                        &:before {
                            background: url('../img/icon-file-text-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }

                    &.icon-contact-us {
                        &:before {
                            background: url('../img/icon-message-gradient.svg') center no-repeat scroll;
                            background-size: contain;
                        }
                    }
                }
            }

            &:hover {
                a {
                    color: rgba(255, 255, 255, 1);

                    &:after {
                        opacity: 1;
                    }
                }

                .icon-house {
                    &:before {
                        background: url('../img/icon-home-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }

                .icon-income-project {
                    &:before {
                        background: url('../img/icon-trending-up-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }

                .icon-financing {
                    &:before {
                        background: url('../img/icon-attach-money-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }

                .icon-floor-plan {
                    &:before {
                        background: url('../img/icon-ruler-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }

                .icon-overview {
                    &:before {
                        background: url('../img/icon-file-text-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }

                .icon-contact-us {
                    &:before {
                        background: url('../img/icon-message-gradient.svg') center no-repeat scroll;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

section#houses-for-sale {
    padding: 60px 20px;
    background-color: $color-4;
    text-align: center;
    overflow-x: hidden;


    .card {
        position: relative;
        padding: 10px;

        .badge-increase,
        .badge-new,
        .badge-decrease{
            position: absolute;
            top: 170px;
            left: 50%;
            margin-left: -85px;
        }

        .address-container {
            height: auto;
            width: 100%;
            padding: 0 15px;

            span {
                padding: 0 15px;
            }
        }

        .price-container {
            height: 65px;
            width: 100%;
            padding: 5px 0px;
            background-color: $color-4;
            border-radius: 5px;

            .price-text {
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Price';
                    position: absolute;
                    top: -18px;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .info-items {
            padding: 0 15px;
        }
    }
}

section#income-projection {
    padding: 60px 20px;
    background-color: $color-4;

    .card-header {
        height: auto;
        min-height: 117px;
        position: relative;
        background-color: $white;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 2px 2px #0000000F;

        .row {
            min-height: 117px;
        }

        .community-container {
            height: 65px;
            width: 100%;
            padding: 5px 0px;
            border-radius: 5px;

            .community-text {
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Community:';
                    position: absolute;
                    top: -18px;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .property-container {
            height: 65px;
            width: 100%;
            padding: 5px 0px;
            border-radius: 5px;

            .property-text {
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Property Type:';
                    position: absolute;
                    top: -18px;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .beds-container {
            height: 65px;
            width: 100%;
            padding: 5px 0px;
            border-radius: 5px;

            .beds-text {
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Beds:';
                    position: absolute;
                    top: -18px;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .price-container {
            height: 65px;
            width: 100%;
            padding: 5px 0px;
            border-radius: 5px;

            .price-text {
                width: 165px;
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Average Property Price:';
                    width: 165px;
                    position: absolute;
                    top: -18px;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }

            .icon-financing-gradient {
                &:before {
                    height: 28px;
                    width: 16px;
                }
            }
        }

        .divisor {
            position: relative;

            &:after {
                content: '';
                height: 65%;
                width: 100%;
                position: absolute;
                top: 17px;
                left: 0;
                border-right: 1px solid $grey;
            }
        }
    }

    .card-body {
        padding: 0 35px 50px;
        background-color: $color-5;
        box-shadow: 0px 5px 5px #00000014;

        .separator {
            margin: 0;
        }

        table.gross-income {
            width: 100%;
            min-width: 1130px;
            border-radius: 10px 10px 0 0;

            thead {
                .main {
                    position: relative;

                    .logo {
                        position: absolute;
                        right: 40px;
                        bottom: 0;
                    }
                }
            }
        }

        table.expenses {
            width: 100%;
            min-width: 1130px;

            thead {
                th {
                    font: normal normal bold 16px/42px $font-1;
                }
            }

            tbody {
                tr {
                    font-size: 15px;
                    color: $color-9;

                    &:nth-child(even) {
                        background-color: $color-13;
                    }
                }
            }

            tfoot {
                background-color: $color-13;

                td {
                    font: normal normal bold 16px/42px $font-1;
                }
            }
        }

        table.net-income {
            width: 100%;
            min-width: 1130px;
            border-radius: 0 0 10px 10px;

            tbody {
                tr {
                    font-size: 15px;
                    color: $color-9;

                    &:nth-child(odd) {
                        background-color: $color-13;
                    }
                }
            }
        }
    }

    .card-footer {
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 40px;
        background-color: $white;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px -2px 2px #0000000F;
        overflow-x: auto;

        .table-nav-items {
            height: 95px;
            display: flex;
            align-items: center;

            .table-nav-item {
                height: 95px;
                width: 122px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background-color: $color-1;
                    color: $white;
                }

                &.active {
                    background-color: $color-1;
                    color: $white;

                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        margin-left: 50%;
                        border-style: solid;
                        border-width: 0 9.5px 10px 9.5px;
                        border-color: transparent transparent $color-1 transparent;
                    }

                    &:after {
                        content: '';
                        height: 5px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: 5px;
                        background: $gradient-1;
                    }
                }
            }
        }
    }
}

section#financing {
    padding: 60px 20px;
    background-color: $color-4;

    .result-container {
        height: 302px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-1;
        font-family: $font-1;
        color: $white;
        box-shadow: 0px 2px 2px #0000000F;
        border-radius: 10px;
    }

    .card-body {
        border-radius: 0 0 10px 10px;
    }
}

section#floor-plan {
    padding: 60px 20px;
    background-color: $color-4;

    .card-header {
        height: auto;
        min-height: 117px;
        position: relative;

        .row {
            min-height: 117px;
        }

        .community-container {
            height: 65px;
            line-height: 65px;
            padding: 5px 0;

            .community-text {
                width: 165px;
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Community:';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .property-container {
            height: 65px;
            line-height: 65px;
            padding: 5px 0;

            .property-text {
                width: 165px;
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Property Type:';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .beds-container {
            height: 65px;
            line-height: 65px;
            padding: 5px 0;

            .beds-text {
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Beds:';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }
        }

        .price-container {
            height: 65px;
            line-height: 65px;
            padding: 5px 0;

            .price-text {
                width: 165px;
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Average Property Price:';
                    width: 165px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }

            .icon-financing-gradient {
                &:before {
                    height: 28px;
                    width: 16px;
                }
            }
        }

        .income-container {
            height: 65px;
            line-height: 65px;
            padding: 5px 0;

            .income-text {
                width: 165px;
                position: relative;
                margin-top: 18px;

                &:before {
                    content: 'Average Nightly:';
                    width: 110px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font: normal normal normal 13px/20px $font-1;
                    text-transform: none;
                }
            }

            .icon-income-project {
                &:before {
                    height: 19px;
                    width: 31px;
                }
            }
        }

        .divisor {
            position: relative;

            &:after {
                content: '';
                height: 65%;
                position: absolute;
                top: 17px;
                right: 0;
                border-right: 1px solid $grey;
            }
        }
    }

    .card-body {
        padding: 50px 35px 20px;
        background-color: $color-5;
        box-shadow: 0px 5px 5px #00000014;

        .img-container {
            position: relative;

            .watermark {
                height: 76px;
                width: 100%;
                position: absolute;
                bottom: 4px;
                left: 0;
                font: normal normal bold 16px/28px $font-1;
                color: $white;
                background: rgba(3, 30, 63, .6);
                border-radius: 0 0 10px 10px;
            }
        }

        .slide-container {
            height: 346px;
            width: 100%;
            padding: 15px 110px;
            border: 1px solid $color-12;
            background-color: $white;
            border-radius: 10px;

            .img-slider {
                width: 100%;
                max-height: 275px;
                object-fit: cover;
            }
        }

        .slide-controls {
            width: 300px;
            margin: 0 auto 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            .btn-next,
            .btn-prev {
                width: 47px;
                height: 47px;
                background: transparent;
            }
        }
    }

    .card-footer {
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 40px;
        background-color: $white;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 0px -2px 2px #0000000F;
        overflow-x: auto;

        .floor-nav-items {
            height: 95px;
            display: flex;
            align-items: center;

            .floor-nav-item {
                height: 95px;
                width: 122px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background-color: $color-1;
                    color: $white;
                }

                &.active {
                    background-color: $color-1;
                    color: $white;

                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        margin-left: 50%;
                        border-style: solid;
                        border-width: 0 9.5px 10px 9.5px;
                        border-color: transparent transparent $color-1 transparent;

                    }

                    &:after {
                        content: '';
                        height: 5px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: 5px;
                        background: $gradient-1;
                    }
                }
            }
        }
    }
}

section#overview {
    padding: 60px 20px 120px;
    background-color: $color-4;

    .card {
        background: $white;

        .card-header,
        .card-body,
        .card-footer {
            box-shadow: none;
        }

        .card-header {
            height: 145px;
            padding: 50px 0 30px;
            text-align: center;
        }

        .card-body {
            max-height: 465px;
            background-color: $white;
            font-family: $font-1;
            color: $color-9;
            line-height: 24px;
            border-radius: 0 0 10px 10px;
            overflow-y: hidden;

            p {
                margin-bottom: 15px;
            }

            h3 {
                font: normal normal bold 27px/32px $font-1;
                color: $color-1;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            img {
                margin-bottom: 15px;
            }
        }

        .card-footer {
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            //padding: 50px 0;

            .btn-read-more {
                width: 214px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

section#newsletter {
    height: 385px;
    padding: 85px 20px;
    position: relative;
    background: url("../img/bg-newsletter.png") no-repeat center;
    background-size: cover;

    .text-container {
        font: normal normal normal 14px/24px $font-1;
        color: $white;
        text-align: right;
    }

    .form-control,
    .btn-gradient {
        height: 57px;
    }

    &:before {
        content: '';
        height: 15px;
        width: 344px;
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -172px;
        z-index: 1;
        background-color: $color-4;
        border-radius: 0 0 15px 15px;
    }

    &:after {
        content: "";
        height: 15px;
        width: 344px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -172px;
        z-index: 1;
        background-color: $white;
        border-radius: 15px 15px 0 0;
    }
}

footer {
    .logo {
        height: 110px;
    }

    nav {
        .title {
            font: normal normal bold 16px/32px $font-1;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 15px;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 20px;
                height: 3px;
                background: $gradient-1;
                border-radius: 5px;
            }
        }

        a {
            height: 35px;
            display: flex;
            align-items: center;
            font: normal normal normal 13px/33px $font-1;
            color: $color-9;

            &:before {
                content: url("../img/icon-arrow-right-color.svg");
                padding: 5px;
            }
        }
    }

    address {
        font: normal normal normal 14px/18px $font-1;

        .btn-color-1 {
            width: 160px;
            height: 50px;
            margin-left: 42px;
        }
    }

    .copyrights {
        height: 70px;
        background-color: $color-4;
        font: normal normal normal 16px/21px $font-2;
        color: $black;

        a {
            color: $black;
            text-decoration: underline;
        }
    }



}