/** Margins **/
@while ($size <= 200) {
  @each $key, $val in $directions {
    .m#{$key}-#{$size} {
      margin-#{$val}: #{$size}px !important;
    }
  }
  @each $key, $val in $directions {
    .p#{$key}-#{$size} {
      padding-#{$val}: #{$size}px !important;
    }
  }

  $size: $size + 5;
}

/** Background **/
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: #{$value} !important;
  }
}

/** Font Family **/
@each $key, $value in $fonts {
  .font-family-#{$key} {
    font-family: #{$value} !important;
  }
}

/** Font Size **/
@for $i from 10 through 60 {
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

/** Font Weight **/
@each $key, $value in $weights {
  .font-weight-#{$key} {
    font-weight: #{$value} !important;
  }
}

/** Font Color **/
@each $key, $value in $theme-colors {
  .font-color-#{$key} {
    color: $value !important;
  }
}