@media all and (max-width: 767.98px) {

  section#header {
    height: 94px;
    padding: 25px 45px;
  }

  section#income-projection {

    .card-header {
      .divisor:after {
        display: none;
      }
    }
  }

  section#floor-plan {
    .col-lg {
      padding-left: 40px;
    }
    .divisor {
      &:after {
        display: none;
      }
    }

    .card-body {
      .img-container {
        .watermark {
          padding-left: 15px;
        }
      }

      .slide-container {
        height: auto;
        padding: 0;
      }

      .slide-controls {
        width: 260px;
        margin: 0 0 20px 0;
      }
    }
  }
}



@media all and (max-width: 991.98px) {

  section#top {
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 99999;

    .logo {
      width: 60px;
    }

    .main-nav {
      width: 80vw;
      padding: 40px;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 999;
      background-color: rgba(3, 30, 63, .99);
      box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.55);
      transition: all ease .6s;

      .main-nav-items {
        display: block;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        li {
          height: 60px;
          padding: 15px 0;
          display: block;
          border-bottom: 1px solid rgba(255, 255, 255, .1);
          border-right: 0;
          font-weight: bold;

          a {
            color: $white;
          }
        }
      }
    }

    .main-nav-show {
      right: 0;
    }

    .main-nav-hide {
      right: -80vh;
    }

    .main-nav-action {
      height: 40px;
      width: 40px;
      background-color: transparent;
      border: 0;
      z-index: 9999;
      transition: all ease .6s;
    }
  }

  section#header {
    .logo {
      height: 100px;
      margin-bottom: 25px;
    }
  }

  section#breadcrumbs {
    padding: 0 20px;
  }

  section#form-info {

    h3 {
      font-size: 16px !important;
      margin-top: 40px;
    }

    h1 {
      font-size: 44px !important;
    }

    form {
      .row {
        margin-bottom: 0;
      }

      .check-container,
      .form-control {
        margin: 0 0 15px;
      }
    }
  }

  section#nav {
    top: 58px;

    .secondary-nav-items {
      overflow-x: auto;
    }
  }

  section#houses-for-sale {
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  section#income-projection {

    .card-header {

      .row {
        .col:nth-child(even) {
          .divisor:after {
            display: none;
          }
        }
      }

      .text-container {
        width: 165px;
      }
    }
  }

  section#financing {
    .row {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  section#floor-plan {
    .divisor:nth-child(even) {
      &:after {
        display: none;
      }
    }
  }

  section#newsletter {
    height: auto;

    .text-container {
      text-align: center;
    }
  }

  footer {
    background-color: $white;

    .container {
      padding: 0 40px;
    }

    .logo {
      margin-bottom: 40px;

      &:nth-last-of-type(2){
        margin-bottom: 0;
      }
    }

    address {
      .btn-color-1 {
        width: 100%;
        margin: 0;
      }
    }

    .copyrights {
      height: auto;
      padding: 20px 0;
      font-size: 12px;
      text-align: justify;

      .text-container {
        margin-bottom: 25px;
      }
    }
  }
}